<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" type="text/css" href="../static/css/css.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../static/fonts/themify-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div id="main">
    <div id="header">
      <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="">Contact</a></li>
        <li>
          <a href="">
            More
            <i class="tti-arrow-down"></i>
          </a>
          <ul class="subnav">
            <li><a href="">Github</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">Facebook</a></li>
          </ul>
        </li>
      </ul>
      <!-- End: Nav -->

      <!-- Begin: Search button -->
      <div class="search-btn">
        <i class="search-icon ti-search"></i>
      </div>
      <!-- End: Search Button -->
    </div>

    <div class="footer">
      <div class="row">
        <div class="col-md-10 mr-auto ml-auto">
          <h1>Wellcome to Booking Tour</h1>
          <form>
            <div id="chatbox">
              <div class="col-md-8 ml-auto mr-auto">
                <p class="botText"><span style="margin-left: -165px;">Hello! Tôi là PyBot✌.</span></p>

                <a href="#">
                  <p class="img"><span></span></p>
                </a>
              </div>

            </div>
            <div id="userInput" class="row">
              <div class="col-md-10">
                <input id="text" type="text" name="msg" placeholder="Message" class="form-control">
                <button type="submit" id="send" class="btn btn-warning">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
  <script src="static/js/chat.js"></script>
</body>

</html>